.button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}