.overlay {
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    width: 600px;
    min-height: 300px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.overlay-content {
    flex-grow: 1;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}