:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #FF3D00;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
